.buttonContainer {
  display: grid;
  place-items: center;
}

.similarButton {
  color: white;
  border: none;
  background-color: brown;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
