.buttonContainer {
  display: grid;
  place-items: center;
}

.similarButton {
  color: white;
  border: none;
  background-color: brown;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.variant-secondary{
  background-color: var(--Purple-700);
  padding: 10px 2px;
  max-width: 20rem;
}