.buttonContainer {
  display: grid;
  place-items: center;
}

.similarButton {
  color: white;
  border: none;
  background-color: brown;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.variant-secondary {
  background-color: var(--Purple-700);
  padding: 0px 30px;
  width: 20rem;
  box-shadow: 0 5px 0px rgba(0, 0, 0, 0.2);
  line-height: 1.7rem;
  margin-bottom: 1.3rem;
}

.variant-primary {
  background-color: var(--Green-400);
  padding: 25px 50px;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  box-shadow: inset 0 -5px 0px rgba(0, 0, 0, 0.2);
}

.variant-primary:hover {
  background-color: var(--lightGreen);
}

@media (min-width: 960px) {
  .variant-secondary {
    width: 40rem;
    padding: 10px 0;
  }

  .variant-primary {
    width: 35rem;
  }
}
