.buttonContainer {
  display: grid;
  place-items: center;
}

.similarButton {
  color: white;
  border: none;
  background-color: brown;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.variant-secondary{
  background-color: var(--Purple-700);
  padding: 0px 15px;
  max-width: 20rem;
  line-height: 1.7rem;
  margin-bottom: 1.3rem;
}