.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 2rem;
  color: white;
  font-weight: 600;
  text-align: center;
}

@media (min-width: 680px) {
  .heading{
  font-weight: 800;
  font-size: 3.5rem;
  }

  .paragraph{
    font-weight: 600;
    font-size: 1.2rem;
    text-align: start;
    padding-left: 4rem;
  }
}
