.signUpFormContainer{
  padding: 10px 0;
  max-width: 1440px;
}

.formField {
  background-color: white;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px 0px rgba(0, 0, 0, 0.2);
}

.formContainer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

@media (min-width: 680px) {
  .signUpFormContainer {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 20px;
  }
}
