.formField {
  background-color: white;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border: none;
  border-radius: 10px;
}

.formContainer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

@media (min-width: 680px) {
  .signUpFormContainer {
    display: flex;
    flex-direction: row;
  }
}
