.formContainer{
    background-color: white;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 360px;
    height: 720px;
    overflow: hidden;
}